# Core app
streamlit==1.32.2

# Web scraping
requests==2.31.0
beautifulsoup4==4.12.3
bs4==0.0.2
lxml==4.9.4

# Data handling
pandas==2.2.1
numpy==1.26.4
pyarrow==15.0.2

# Utilities
validators==0.22.0
GitPython==3.1.42
backoff==2.2.1
cachetools==5.3.2
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
urllib3==2.2.1
python-dateutil==2.9.0.post0
pytz==2024.1
tzlocal==5.2

# Streamlit dependencies
altair==5.2.0
pydeck==0.8.1b0
protobuf==4.25.3
watchdog==4.0.0
toml==0.10.2
packaging==23.2
click==8.1.7
blinker==1.7.0
